---
layout: default
title: Events
permalink: /events/
---

<div>
    <img src="{{ site.baseurl }}/assets/images/branding/events.png" class=" w-full h-full object-top"
        alt="Founderland event Founders group picture">
</div>
<div class="bg-fdlpink text-white">

    <figure>
        <h1 class="uppercase text-center">Upcoming events</h1>
        <h3 class="px-8 text-center">DESIGNED TO SUPPORT FOUNDERS ON THEIR ENTREPRENEURIAL JOURNEYS — AT EVERY STEP OF
            THE
            WAY.
        </h3>
    </figure>
</div>
<section>
    {% for event in site.data.events %}
    <div class="w-full flex flex-col justify-center items-center">
        <h2 class="text-center md:text-left">{{ event.name }}</h2>
        <div class="w-full">
            <img src="{{site.baseurl}}/{{ event.cover }}" alt="{{ event.title }}" class="w-full">
        </div>
        <div class="w-full p-4 flex flex-col items-center">
            <p class="text-inter ">{{ event.description }}</p>
            {% if event.link %}
            <a class="button max-w-fit my-4" href="{{event.link}}">{{ event.speaker }}</a>
            {% endif %}
            {% if event.restricted %}
            <h5 class="text-center">* this event is only for Founderland community members *</h5>
            {% else %}
            <h5 class="text-center">* this event is public *</h5>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    <h4 class="mx-auto text-center">Want to attend these events and have access to future events, apply to join our
        community!</h4>
    <a href="https://community.founderland.org/form/founder" class="button mx-auto">Apply as a Founder</a>
</section>
<div class="bg-fdlpink pt-4 pb-3 text-white">
    <a href="https://u46iu5kv85h.typeform.com/to/KBgtIUH8" target="_blank">
        <div class="marquee enable-animation-big cursor-pointer text-hanson font-bold text-2xl">
            <ul class="marquee__content">
                <li>Nominate a Speaker</li>
                <li>⚡️</li>
                <li>Nominate a Speaker</li>
                <li>⚡️</li>
                <li>Nominate a Speaker</li>
                <li>⚡️</li>
                <li>Nominate a Speaker</li>
                <li>⚡️</li>
                <li>Nominate a Speaker</li>
                <li>⚡️</li>
                <li>Nominate a Speaker</li>
                <li>⚡️</li>
                <li>Nominate a Speaker</li>
                <li>⚡️</li>
            </ul>
            <ul class="marquee__content" aria-hidden="true">
                <li>Nominate a Speaker</li>
                <li>⚡️</li>
                <li>Nominate a Speaker</li>
                <li>⚡️</li>
                <li>Nominate a Speaker</li>
                <li>⚡️</li>
                <li>Nominate a Speaker</li>
                <li>⚡️</li>
                <li>Nominate a Speaker</li>
                <li>⚡️</li>
                <li>Nominate a Speaker</li>
                <li>⚡️</li>
                <li>Nominate a Speaker</li>
                <li>⚡️</li>
            </ul>
        </div>
    </a>
</div>
<div class="bg-fdlblue text-white" id="speakers">
    <section>
        <h1 class="text-center uppercase">Past Speakers</h1>
    </section>
</div>
<section>
    <div class="text-inter flex flex-col justify-items-center md:grid md:grid-cols-2 md:gap-2">
        {% for speaker in site.data.speakers %}
        <div class="mb-12">
            <img src="{{ site.baseurl }}/{{ speaker.headshot }}"
                class="w-2/3 md:w-64 h-80 object-cover object-top md:float-left mx-auto md:m-4"
                alt="{{ speaker.name }}">
            <div class="relative">
                <a href="{{ speaker.link }}" target="_blank"
                    class="max-w-fit absolute left-8 -top-12 md:-left-0 md:top-6 text-2xl bg-white px-2 underline underline-offset-4 decoration-fdlblue-400 hover:decoration-fdlblue-600 py-0 leading-tight">
                    {{ speaker.name }}</a>
                <p class="font-bold px-12 pt-4">{{speaker.title}}</p>
            </div>
            <p class="px-12 text-xs">{{speaker.bio}}</p>
        </div>
        {% endfor %}
    </div>
</section>
<div class="bg-fdlblue pt-4 pb-3 text-white">
    <a href="https://u46iu5kv85h.typeform.com/to/KBgtIUH8" target="_blank">
        <div class="marquee enable-animation-big cursor-pointer text-hanson font-bold text-2xl">
            <ul class="marquee__content">
                <li>Nominate a Speaker</li>
                <li>⚡️</li>
                <li>Nominate a Speaker</li>
                <li>⚡️</li>
                <li>Nominate a Speaker</li>
                <li>⚡️</li>
                <li>Nominate a Speaker</li>
                <li>⚡️</li>
                <li>Nominate a Speaker</li>
                <li>⚡️</li>
                <li>Nominate a Speaker</li>
                <li>⚡️</li>
                <li>Nominate a Speaker</li>
                <li>⚡️</li>
            </ul>
            <ul class="marquee__content" aria-hidden="true">
                <li>Nominate a Speaker</li>
                <li>⚡️</li>
                <li>Nominate a Speaker</li>
                <li>⚡️</li>
                <li>Nominate a Speaker</li>
                <li>⚡️</li>
                <li>Nominate a Speaker</li>
                <li>⚡️</li>
                <li>Nominate a Speaker</li>
                <li>⚡️</li>
                <li>Nominate a Speaker</li>
                <li>⚡️</li>
                <li>Nominate a Speaker</li>
                <li>⚡️</li>
            </ul>
        </div>
    </a>
</div>