---
layout: default
title: FAQ
permalink: /faq/
---

<section class="faq">
    <h1 class="uppercase text-center">Frequently asked questions</h1>
    <h2>About Founderland</h2>
    {% for question in site.data.faq.aboutfdl %}
    <div x-data="{ expanded: false }" class="relative border border-gray-400 mb-4 p-4 text-mono">
        <div class="w-full flex space-x-2 items-center cursor-pointer hover:text-fdlblue"
            x-bind:class="{ 'text-fdlblue': expanded }" @click="expanded = ! expanded">
            <p class=" flex-grow mr-4 mb-0 tracking-wider">{{ question.question }}
            </p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="absolute right-4 top-4 w-4 h-4" x-bind:class="{'hidden':expanded}">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="absolute right-4 top-4 w-4 h-4" x-bind:class="{'hidden':!expanded}">
                <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
            </svg>
        </div>
        <div x-show="expanded" x-collapse class="text-mono text-gray-600 tracking-wide mt-4">
            <p>{{ question.answer }}</p>
        </div>
    </div>
    {% endfor %}
    <h2>About the Team / Founders</h2>
    {% for question in site.data.faq.aboutteam %}
    <div x-data="{ expanded: false }" class="relative border border-gray-400 mb-4 p-4 text-mono">
        <div class="w-full flex space-x-2 items-center cursor-pointer hover:text-fdlblue"
            x-bind:class="{ 'text-fdlblue': expanded }" @click="expanded = ! expanded">
            <p class="font-bold flex-grow mr-4 mb-0">{{ question.question }}
            </p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="absolute right-4 top-4 w-4 h-4" x-bind:class="{'hidden':expanded}">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="absolute right-4 top-4 w-4 h-4" x-bind:class="{'hidden':!expanded}">
                <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
            </svg>
        </div>
        <div x-show="expanded" x-collapse class="text-mono text-gray-600 mt-4">
            <p>{{ question.answer }}</p>
        </div>
    </div>
    {% endfor %}
    <h2>About the Community</h2>
    {% for question in site.data.faq.aboutcommunity %}
    <div x-data="{ expanded: false }" class="relative border border-gray-400 mb-4 p-4 text-mono">
        <div class="w-full flex space-x-2 items-center cursor-pointer hover:text-fdlblue"
            x-bind:class="{ 'text-fdlblue': expanded }" @click="expanded = ! expanded">
            <p class="font-bold flex-grow mr-4 mb-0">{{ question.question }}
            </p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="absolute right-4 top-4 w-4 h-4" x-bind:class="{'hidden':expanded}">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="absolute right-4 top-4 w-4 h-4" x-bind:class="{'hidden':!expanded}">
                <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
            </svg>
        </div>
        <div x-show="expanded" x-collapse class="text-mono text-gray-600 mt-4">
            <p>{{ question.answer }}</p>
        </div>
    </div>
    {% endfor %}
    <h2>About the Ecosystem - Investors & Allies</h2>
    {% for question in site.data.faq.aboutecosystem %}
    <div x-data="{ expanded: false }" class="relative border border-gray-400 mb-4 p-4 text-mono">
        <div class="w-full flex space-x-2 items-center cursor-pointer hover:text-fdlblue"
            x-bind:class="{ 'text-fdlblue': expanded }" @click="expanded = ! expanded">
            <p class="font-bold flex-grow mr-4 mb-0">{{ question.question }}
            </p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="absolute right-4 top-4 w-4 h-4" x-bind:class="{'hidden':expanded}">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="absolute right-4 top-4 w-4 h-4" x-bind:class="{'hidden':!expanded}">
                <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
            </svg>
        </div>
        <div x-show="expanded" x-collapse class="text-mono text-gray-600 mt-4">
            <p>{{ question.answer }}</p>
        </div>
    </div>
    {% endfor %}
</section>
<section>
    <p>Additional Questions? You can get in touch with us via email, at <a href="mailto:hello@founderland.org"
            class="underline underline-offset-4 decoration-gray-400 hover:decoration-gray-600">hello@founderland.org</a>.
        <br>For press,
        contact
        Stephanie von Behr, Managing Director via email at <a href="mailto:stephanie@founderland.org"
            class="underline underline-offset-4 decoration-gray-400 hover:decoration-gray-600">stephanie@founderland.org</a>.
    </p>
</section>