---
layout: default
title: FAQ
permalink: /faq
---

<section class="faq">
    <h1 class="uppercase text-center">Frequently asked questions</h1>
    <h2>About Founderland</h2>
    {% for question in site.data.faq.aboutfdl %}
    <div x-data="{ expanded: false }" class="relative border border-gray-300 mb-4 p-4 text-mono">
        <div class="w-full flex space-x-2 items-center cursor-pointer hover:text-fdlblue"
            x-bind:class="{ 'text-fdlblue': expanded }" @click="expanded = ! expanded">
            <p class=" flex-grow mr-4 mb-0 tracking-wider">{{ question.question }}
            </p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="absolute right-4 top-4 w-4 h-4" x-bind:class="{'hidden':expanded}">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="absolute right-4 top-4 w-4 h-4" x-bind:class="{'hidden':!expanded}">
                <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
            </svg>
        </div>
        <div x-show="expanded" x-collapse class="text-mono text-gray-600 tracking-wide mt-4">
            <p>{{ question.answer }}</p>
        </div>
    </div>
    {% endfor %}
    <h2>About the Team / Founders</h2>
    {% for question in site.data.faq.aboutteam %}
    <div x-data="{ expanded: false }" class="relative border border-gray-300 mb-4 p-4 text-mono">
        <div class="w-full flex space-x-2 items-center cursor-pointer hover:text-fdlblue"
            x-bind:class="{ 'text-fdlblue': expanded }" @click="expanded = ! expanded">
            <p class="font-bold flex-grow mr-4 mb-0">{{ question.question }}
            </p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="absolute right-4 top-4 w-4 h-4" x-bind:class="{'hidden':expanded}">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="absolute right-4 top-4 w-4 h-4" x-bind:class="{'hidden':!expanded}">
                <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
            </svg>
        </div>
        <div x-show="expanded" x-collapse class="text-mono text-gray-600 mt-4">
            <p>{{ question.answer }}</p>
        </div>
    </div>
    {% endfor %}
    <h2>About the Community</h2>
    {% for question in site.data.faq.aboutcommunity %}
    <div x-data="{ expanded: false }" class="relative border border-gray-300 mb-4 p-4 text-mono">
        <div class="w-full flex space-x-2 items-center cursor-pointer hover:text-fdlblue"
            x-bind:class="{ 'text-fdlblue': expanded }" @click="expanded = ! expanded">
            <p class="font-bold flex-grow mr-4 mb-0">{{ question.question }}
            </p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="absolute right-4 top-4 w-4 h-4" x-bind:class="{'hidden':expanded}">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="absolute right-4 top-4 w-4 h-4" x-bind:class="{'hidden':!expanded}">
                <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
            </svg>
        </div>
        <div x-show="expanded" x-collapse class="text-mono text-gray-600 mt-4">
            <p>{{ question.answer }}</p>
        </div>
    </div>
    {% endfor %}
    <h2>About the Ecosystem - Investors & Allies</h2>
    {% for question in site.data.faq.aboutecosystem %}
    <div x-data="{ expanded: false }" class="relative border border-gray-300 mb-4 p-4 text-mono">
        <div class="w-full flex space-x-2 items-center cursor-pointer hover:text-fdlblue"
            x-bind:class="{ 'text-fdlblue': expanded }" @click="expanded = ! expanded">
            <p class="font-bold flex-grow mr-4 mb-0">{{ question.question }}
            </p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="absolute right-4 top-4 w-4 h-4" x-bind:class="{'hidden':expanded}">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="absolute right-4 top-4 w-4 h-4" x-bind:class="{'hidden':!expanded}">
                <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
            </svg>
        </div>
        <div x-show="expanded" x-collapse class="text-mono text-gray-600 mt-4">
            <p>{{ question.answer }}</p>
        </div>
    </div>
    {% endfor %}
</section>
<figure>
    <svg class="text-hanson text-2xl font-bold w-full h-10" fill="currentColor" aria-hidden="true">
        <g class="Marquee-path-group">
            <path class="w-full" fill="none" stroke="transparent" stroke-width="0"
                d="M-550,21.846  L-550,21.846 S-183.15,21.846 0,21.846 S366.85,21.846 550,21.846 S916.85,21.846 1100,21.846 S1466.85,21.846 1650,21.846 S2016.85,21.846 2200,21.846"
                stroke-dasharray="168 14.4 15 14.4 " id="yui_3_17_2_1_1655815426610_6319" stroke-dashoffset="0">
            </path>
        </g>
        <text>
            <textPath class="Marquee-svg-text" href="#yui_3_17_2_1_1655815426610_6319" startOffset="0">
                <tspan class="Marquee-svg-text" x="0">COMPASS</tspan>
                <tspan class="Marquee-svg-text" x="182.4">&gt;</tspan>
                <tspan class="Marquee-svg-text" x="211.8">COMPASS</tspan>
                <tspan class="Marquee-svg-text" x="394.20000000000005">&gt;</tspan>
                <tspan class="Marquee-svg-text" x="423.6">COMPASS</tspan>
                <tspan class="Marquee-svg-text" x="606">&gt;</tspan>
                <tspan class="Marquee-svg-text" x="635.4">COMPASS</tspan>
                <tspan class="Marquee-svg-text" x="817.8">&gt;</tspan>
                <tspan class="Marquee-svg-text" x="847.1999999999999">COMPASS</tspan>
                <tspan class="Marquee-svg-text" x="1029.6">&gt;</tspan>
                <tspan class="Marquee-svg-text" x="1059">COMPASS</tspan>
                <tspan class="Marquee-svg-text" x="1241.4">&gt;</tspan>
                <tspan class="Marquee-svg-text" x="1270.8000000000002">COMPASS</tspan>
                <tspan class="Marquee-svg-text" x="1453.2000000000003">&gt;</tspan>
                <tspan class="Marquee-svg-text" x="1482.6000000000004">COMPASS</tspan>
                <tspan class="Marquee-svg-text" x="1665.0000000000005">&gt;</tspan>
                <tspan class="Marquee-svg-text" x="1694.4000000000005">COMPASS</tspan>
                <tspan class="Marquee-svg-text" x="1876.8000000000006">&gt;</tspan>
                <tspan class="Marquee-svg-text" x="1906.2000000000007">COMPASS</tspan>
                <tspan class="Marquee-svg-text" x="2088.600000000001">&gt;</tspan>
                <tspan class="Marquee-svg-text" x="2118.000000000001">COMPASS</tspan>
                <tspan class="Marquee-svg-text" x="2300.400000000001">&gt;</tspan>
                <tspan class="Marquee-svg-text" x="2329.800000000001">COMPASS</tspan>
                <tspan class="Marquee-svg-text" x="2512.200000000001">&gt;</tspan>
                <tspan class="Marquee-svg-text" x="2541.6000000000013">COMPASS</tspan>
                <tspan class="Marquee-svg-text" x="2724.0000000000014">&gt;</tspan>
                <tspan class="Marquee-svg-text" x="2753.4000000000015">COMPASS</tspan>
                <tspan class="Marquee-svg-text" x="2935.8000000000015">&gt;</tspan>
                <tspan class="Marquee-svg-text" x="2965.2000000000016">COMPASS</tspan>
                <tspan class="Marquee-svg-text" x="3147.6000000000017">&gt;</tspan>
            </textPath>
        </text>
    </svg>
</figure>
<section>
    <h2>About Compass</h2>
    <h3>General</h3>
    {% for question in site.data.faq.aboutcompassg %}
    <div x-data="{ expanded: false }" class="relative border border-gray-300 mb-4 p-4 text-mono">
        <div class="w-full flex space-x-2 items-center cursor-pointer hover:text-fdlblue"
            x-bind:class="{ 'text-fdlblue': expanded }" @click="expanded = ! expanded">
            <p class="font-bold flex-grow mr-4 mb-0">{{ question.question }}
            </p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="absolute right-4 top-4 w-4 h-4" x-bind:class="{'hidden':expanded}">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="absolute right-4 top-4 w-4 h-4" x-bind:class="{'hidden':!expanded}">
                <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
            </svg>
        </div>
        <div x-show="expanded" x-collapse class="text-mono text-gray-600 mt-4">
            <p>{{ question.answer }}</p>
        </div>
    </div>
    {% endfor %}
    <h3>Applications Questions</h3>
    {% for question in site.data.faq.aboutcompassaq %}
    <div x-data="{ expanded: false }" class="relative border border-gray-300 mb-4 p-4 text-mono">
        <div class="w-full flex space-x-2 items-center cursor-pointer hover:text-fdlblue"
            x-bind:class="{ 'text-fdlblue': expanded }" @click="expanded = ! expanded">
            <p class="font-bold flex-grow mr-4 mb-0">{{ question.question }}
            </p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="absolute right-4 top-4 w-4 h-4" x-bind:class="{'hidden':expanded}">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="absolute right-4 top-4 w-4 h-4" x-bind:class="{'hidden':!expanded}">
                <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
            </svg>
        </div>
        <div x-show="expanded" x-collapse class="text-mono text-gray-600 mt-4">
            <p>{{ question.answer }}</p>
        </div>
    </div>
    {% endfor %}
    <h3>Program Logistics</h3>
    {% for question in site.data.faq.aboutcompasspl %}
    <div x-data="{ expanded: false }" class="relative border border-gray-300 mb-4 p-4 text-mono">
        <div class="w-full flex space-x-2 items-center cursor-pointer hover:text-fdlblue"
            x-bind:class="{ 'text-fdlblue': expanded }" @click="expanded = ! expanded">
            <p class="font-bold flex-grow mr-4 mb-0">{{ question.question }}
            </p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="absolute right-4 top-4 w-4 h-4" x-bind:class="{'hidden':expanded}">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="absolute right-4 top-4 w-4 h-4" x-bind:class="{'hidden':!expanded}">
                <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
            </svg>
        </div>
        <div x-show="expanded" x-collapse class="text-mono text-gray-600 mt-4">
            <p>{{ question.answer }}</p>
        </div>
    </div>
    {% endfor %}
    <h3>Compass Programming</h3>
    {% for question in site.data.faq.aboutcompasscp %}
    <div x-data="{ expanded: false }" class="relative border border-gray-300 mb-4 p-4 text-mono">
        <div class="w-full flex space-x-2 items-center cursor-pointer hover:text-fdlblue"
            x-bind:class="{ 'text-fdlblue': expanded }" @click="expanded = ! expanded">
            <p class="font-bold flex-grow mr-4 mb-0">{{ question.question }}
            </p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="absolute right-4 top-4 w-4 h-4" x-bind:class="{'hidden':expanded}">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="absolute right-4 top-4 w-4 h-4" x-bind:class="{'hidden':!expanded}">
                <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
            </svg>
        </div>
        <div x-show="expanded" x-collapse class="text-mono text-gray-600 mt-4">
            <p>{{ question.answer }}</p>
        </div>
    </div>
    {% endfor %}
</section>
<section>
    <p>Additional Questions? You can get in touch with us via email, at <a href="mailto:hello@founderland.org"
            class="underline underline-offset-4 decoration-gray-300 hover:decoration-gray-600">hello@founderland.org</a>.
        <br>For press,
        contact
        Stephanie von Behr, Managing Director via email at <a href="mailto:stephanie@founderland.org"
            class="underline underline-offset-4 decoration-gray-300 hover:decoration-gray-600">stephanie@founderland.org</a>.
    </p>
</section>