---
layout: default
title: Partners
permalink: /partners/
---
<img src="{{ site.baseurl }}/assets/images/branding/amplified.gif" class="w-full max-h-full lg:max-h-fit object-cover"
    alt="Gif of a lecture">
<section>
    <div class="text-inter flex flex-col justify-items-center md:grid md:grid-cols-2 md:gap-2">
        {% for partner in site.data.partners %}
        <div class="mb-12">
            <img src="{{ site.baseurl }}/{{ partner.headshot }}"
                class="w-2/3 md:w-64 h-80 object-cover object-top md:float-left mx-auto md:m-4"
                alt="{{ partner.name }}">
            <div class="relative">
                <a href="{{ partner.link }}" target="_blank"
                    class="max-w-fit absolute left-8 -top-12 md:-left-0 md:top-6 text-2xl bg-white px-2 underline underline-offset-4 decoration-fdlpink-400 hover:decoration-fdlpink-600 py-0 leading-tight">
                    {{ partner.name }}</a>
                <p class="font-bold px-12 pt-4">{{partner.title}}</p>
            </div>
            <p class="px-12 text-xs">{{partner.quote}}</p>
        </div>
        {% endfor %}
    </div>
</section>
<img src="{{ site.baseurl }}/assets/images/branding/donate.gif" class="w-full max-h-full object-cover"
    alt="Gif of 3 women gathering around a laptop, one is opening the laptop">
<div class="bg-fdlpink text-hanson text-2xl pt-6 pb-4">
    <a class="Marquee-hitbox" href="https://www.paypal.com/donate/?hosted_button_id=Q52JXYNGYT8FW" target="_blank">
        <div class="w-full">
            <div class="marquee enable-animation-big text-hanson text-2xl cursor-pointer">
                <ul class="marquee__content">
                    <li>Donate today</li>
                    <li>⚡️</li>
                    <li>Donate today</li>
                    <li>⚡️</li>
                    <li>Donate today</li>
                    <li>⚡️</li>
                    <li>Donate today</li>
                    <li>⚡️</li>
                    <li>Donate today</li>
                    <li>⚡️</li>
                    <li>Donate today</li>
                    <li>⚡️</li>
                </ul>
                <ul class="marquee__content" aria-hidden="true">
                    <li>Donate today</li>
                    <li>⚡️</li>
                    <li>Donate today</li>
                    <li>⚡️</li>
                    <li>Donate today</li>
                    <li>⚡️</li>
                    <li>Donate today</li>
                    <li>⚡️</li>
                    <li>Donate today</li>
                    <li>⚡️</li>
                    <li>Donate today</li>
                    <li>⚡️</li>
                </ul>
            </div>
        </div>

    </a>
</div>
<section>
    <h2>A HUGE THANK YOU TO OUR PARTNERS</h2>
    <h3>Founderland would not be possible without you.</h3>
    <div class="flex flex-col md:grid md:grid-cols-4">
        {% for partner in site.data.partnerslogos %}
        <div class="m-4">
            <img class="w-40 h-40 object-cover mx-auto" src="{{site.baseurl}}/{{ partner.logo }}"
                alt="{{ partner.name }}" />
        </div>
        {% endfor %}
    </div>
</section>
<div class="bg-fdlpink">
    <section>
        <h2>THANK YOU TO OUR SUPPORTERS</h2>
        <h3>Let’s continue to work together and break down barriers.</h3>
        <div class="flex flex-col-reverse md:flex-row">
            <img class="w-1/2 aspect-square mx-auto object-contain"
                src="{{site.baseurl}}/assets/images/branding/FDL_giphy.gif" alt="Founderland GIF Animation" />
            <div class="partners w-full md:w-1/2 p-8 flex justify-center items-center">
                <ul>
                    <li>
                        Ananda Impact Ventures</li>
                    <li>
                        Omers Ventures</li>
                    <li>
                        Factory Berlin</li>
                    <li>
                        Google for Startups</li>
                    <li>
                        Notion for Startups</li>
                    <li>
                        DocSend</li>
                    <li>
                        Cabal</li>
                    <li>
                        Cobble</li>
                    <li>
                        Penta</li>
                    <li>
                        Zendesk for Startups</li>
                    <li>
                        Miro for Startups</li>
                    <li>
                        BetterHelp
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>