<footer>
    <div class="px-4 py-2 lg:px-8 lg:py-4">
        <nav class="flex-grow-0 flex-shrink flex-auto min-w-0 text-grotesk font-normal text-sm">
            <div class="Footer-nav-group">
                <div class="Footer-nav-folder-heading">Follow Us</div>
                <a href="https://www.linkedin.com/company/founderland" target="_blank"
                    class="Footer-nav-folder-item">LinkedIn</a>
                <a href="https://www.instagram.com/founderland_/" target="_blank"
                    class="Footer-nav-folder-item">Instagram</a>
                <a href="https://twitter.com/founderland_/" class="Footer-nav-folder-item">Twitter</a>
                <a href="https://thisisfounderland.substack.com" class="Footer-nav-folder-item">Substack</a>
            </div>
            <div class="Footer-nav-group"></div>
            <div class="Footer-nav-group">
                <div class="Footer-nav-folder-heading">Founderland</div>
                <a href="/our-manifesto" class="Footer-nav-folder-item">Manifesto</a>
                <a href="/faq" class="Footer-nav-folder-item">Faq</a>
                <a href="/about" class="Footer-nav-folder-item">Our Values</a>
                <a href="https://medium.com/@founderland" target="_blank" class="Footer-nav-folder-item">Medium</a>
                <a href="https://giftguide.founderland.org" target="_blank" class="Footer-nav-folder-item">Gift
                    Guide</a>
                <a href="/contact" class="Footer-nav-folder-item">Contact</a>
                <a href="/careers" class="Footer-nav-folder-item">Careers</a>
                <a href="/impressum" class="Footer-nav-folder-item">Impressum</a>
                <a href="/privacy-policy" class="Footer-nav-folder-item">Privacy Policy</a>
            </div>
            <div class="Footer-nav-group"></div>
            <div class="Footer-nav-group">
                <div class="Footer-nav-folder-heading">Community</div>
                <a href="https://community.founderland.org/form/founder" target="_blank"
                    class="Footer-nav-folder-item">Apply as Founder</a>
                <a href="https://community.founderland.org/form/investor" target="_blank"
                    class="Footer-nav-folder-item">Apply as Investor</a>
                <a href="https://community.founderland.org/form/ally" target="_blank"
                    class="Footer-nav-folder-item">Apply as Ally</a>
                <a href="/partners" class="Footer-nav-folder-item">Partners</a>
                <a href="https://community.founderland.org/newsletter" target="_blank"
                    class="Footer-nav-folder-item">Newsletter</a>
                <a href="/support" class="Footer-nav-folder-item">Donate</a>
            </div>
            <div class="Footer-nav-group"></div>
            <div class="Footer-nav-group">
                <div class="Footer-nav-folder-heading">Programmes</div>
                <a href="/compass" class="Footer-nav-folder-item">Compass</a>
                <a href="/beacon" class="Footer-nav-folder-item">Beacon</a>
            </div>
            <div class="Footer-nav-group"></div>
        </nav>
    </div>
    <div class="flex w-full">
        <div class="w-full text-center px-4 py-2">
            <p class="text-grotesk text-xxs font-bold mx-auto">© 2023 Founderland gUG (haftungsbeschränkt)</p>
        </div>
    </div>
</footer>