<footer>
    <div class="w-full 2xl:max-w-2xl px-8 py-6 lg:mx-auto">
        <div class="Footer-main">
            <div class="Footer-nav">
                <div class="Footer-nav-group">
                    <div class="Footer-nav-heading">Follow Us</div>
                    <a href="https://www.linkedin.com/company/founderland" target="_blank"
                        class="Footer-nav-item">LinkedIn</a>
                    <a href="https://www.instagram.com/founderland_/" target="_blank"
                        class="Footer-nav-item">Instagram</a>
                    <a href="https://twitter.com/founderland_/" class="Footer-nav-item">Twitter</a>
                    <a href="https://thisisfounderland.substack.com" class="Footer-nav-item">Substack</a>
                </div>
                <div class="Footer-nav-group">
                    <div class="Footer-nav-heading">Founderland</div>
                    <a href="/our-manifesto.html" class="Footer-nav-item">Manifesto</a>
                    <a href="/faq.html" class="Footer-nav-item">Faq</a>
                    <a href="/about.html" class="Footer-nav-item">Our Values</a>
                    <a href="https://medium.com/@founderland" target="_blank" class="Footer-nav-item">Medium</a>
                    <a href="https://giftguide.founderland.org" target="_blank" class="Footer-nav-item">Gift
                        Guide</a>
                    <a href="/contact.html" class="Footer-nav-item">Contact</a>
                    <a href="/careers.html" class="Footer-nav-item">Careers</a>
                    <a href="/impressum.html" class="Footer-nav-item">Impressum</a>
                    <a href="/privacy-policy.html" class="Footer-nav-item">Privacy Policy</a>
                </div>
                <div class="Footer-nav-group">
                    <div class="Footer-nav-heading">Community</div>
                    <a href="https://community.founderland.org/form/founder" target="_blank"
                        class="Footer-nav-item">Apply
                        as Founder</a>
                    <a href="https://community.founderland.org/form/investor" target="_blank"
                        class="Footer-nav-item">Apply
                        as Investor</a>
                    <a href="https://community.founderland.org/form/ally" target="_blank" class="Footer-nav-item">Apply
                        as
                        Ally</a>
                    <a href="/partners.html" class="Footer-nav-item">Partners</a>
                    <a href="/speakers.html" class="Footer-nav-item">Speakers</a>
                    <a href="https://community.founderland.org/newsletter" target="_blank"
                        class="Footer-nav-item">Newsletter</a>
                    <a href="/support.html" class="Footer-nav-item">Donate</a>
                </div>
                <div class="Footer-nav-group">
                    <div class="Footer-nav-heading">Programmes</div>
                    <a href="/compass.html" class="Footer-nav-item">Compass</a>
                    <a href="/beacon.html" class="Footer-nav-item">Beacon</a>
                </div>
            </div>
        </div>
        <div class="Footer-copy">
            © 2023 Founderland gUG (haftungsbeschränkt)d
        </div>
    </div>
</footer>