@tailwind base;
@tailwind components;
@tailwind utilities;

/* TYPEFACES */
@font-face {
  font-family: 'Hanson';
  src: url(../fonts/hanson-bold.woff2);
}

.text-grotesk {
  font-family: 'Space Grotesk', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-mono {
  font-family: 'Space Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-hanson {
  font-family: 'Hanson', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-inter {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-roboto {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* GLOBAL */
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply text-inter;
}

/* SPACING */
section {
  @apply p-4 m-0;
}

figure {
  @apply p-8 m-0;
}

h1 {
  @apply mb-4 md:mb-6 lg:mb-8 xl:mb-10;
}

.text-symbol {
  line-height: 1.75rem !important;
}

@screen md {
  .text-symbol {
    line-height: 2.5rem !important;
  }
}
@screen lg {
  .text-symbol {
    line-height: 3rem !important;
  }
}
@screen xl {
  .text-symbol {
    line-height: 3.5rem !important;
  }
}

/* SYMBOLS */
.symbol-xl,
.symbol-xl::after {
  display: inline-flex;
  content: '';
  background-position: center;
  background-repeat: no-repeat;
  @apply w-5 h-5 md:w-8 md:h-8 xl:w-12 xl:h-12 bg-contain;
}

.symbol-4xl,
.symbol-4xl::after {
  display: inline-flex;
  content: '';
  background-position: center;
  background-repeat: no-repeat;
  @apply w-10 h-10 bg-contain;
}

.symbol-8xl,
.symbol-8xl::after {
  display: inline-flex;
  content: '';
  background-position: center;
  background-repeat: no-repeat;
  @apply w-20 h-20 bg-contain;
}

.symbol-big,
.symbol-big::after {
  display: inline-flex;
  content: '';
  background-position: center;
  background-repeat: no-repeat;
  @apply w-40 h-40 bg-contain;
}

.symbol-huge,
.symbol-huge::after {
  display: inline-flex;
  content: '';
  background-position: center;
  background-repeat: no-repeat;
  @apply w-80 h-80 bg-contain;
}

.symbol-biggest,
.symbol-biggest::after {
  display: inline-flex;
  content: '';
  background-position: center;
  background-repeat: no-repeat;
  @apply w-full h-full bg-contain;
}

.symred,
.symred::after {
  @apply bg-fdlred;
}
.symblue,
.symblue::after {
  @apply bg-fdlblue;
}
.symlime {
  @apply bg-fdllime;
}
.symlime::after {
  @apply brightness-0;
}
.sympink,
.sympink::after {
  @apply bg-fdlpink;
}

.Warmth::after {
  background-image: url('../images/symbols/Warmth.svg');
}
.Blooming::after {
  background-image: url('../images/symbols/Blooming.svg');
}
.Calm::after {
  background-image: url('../images/symbols/Calm.svg');
}
.Cents::after {
  background-image: url('../images/symbols/Cents.svg');
}
.Connected::after {
  background-image: url('../images/symbols/Connected.svg');
}
.Connective::after {
  background-image: url('../images/symbols/Connective.svg');
}
.Continuous::after {
  background-image: url('../images/symbols/Continuous Growth.svg');
}
.Direction::after {
  background-image: url('../images/symbols/Direction.svg');
}
.Emerging::after {
  background-image: url('../images/symbols/Emerging.svg');
}
.Energized::after {
  background-image: url('../images/symbols/Energized.svg');
}
.Enhanced::after {
  background-image: url('../images/symbols/Enhanced.svg');
}
.Expanding::after {
  background-image: url('../images/symbols/Expanding 2.svg');
}
.For::after {
  background-image: url('../images/symbols/For People.svg');
}
.Forward_2::after {
  background-image: url('../images/symbols/Forward 2.svg');
}
.Forward::after {
  background-image: url('../images/symbols/Forward.svg');
}
.Goals::after {
  background-image: url('../images/symbols/Goals.svg');
}
.Haven::after {
  background-image: url('../images/symbols/Haven 2.svg');
}
.Haven::after {
  background-image: url('../images/symbols/Haven.svg');
}
.Inclusive::after {
  background-image: url('../images/symbols/Inclusive.svg');
}
.Intersectional::after {
  background-image: url('../images/symbols/Intersectional.svg');
}
.Invest::after {
  background-image: url('../images/symbols/Invest 2.svg');
}
.Invest::after {
  background-image: url('../images/symbols/Invest.svg');
}
.Moving::after {
  background-image: url('../images/symbols/Moving Together.svg');
}
.Multiplication::after {
  background-image: url('../images/symbols/Multiplication.svg');
}
.Navigating::after {
  background-image: url('../images/symbols/Navigating.svg');
}
.No::after {
  background-image: url('../images/symbols/No Boundaries.svg');
}
.Open::after {
  background-image: url('../images/symbols/Open.svg');
}
.Powerful::after {
  background-image: url('../images/symbols/Powerful.svg');
}
.Reference::after {
  background-image: url('../images/symbols/Reference.svg');
}
.Security::after {
  background-image: url('../images/symbols/Security.svg');
}
.Stability::after {
  background-image: url('../images/symbols/Stability.svg');
}
.symbolsols::after {
  background-image: url('../images/symbols/symbolsols.svg');
}
.symbolsols::after {
  background-image: url('../images/symbols/symbolsols-1.svg');
}
.Team::after {
  background-image: url('../images/symbols/Team.svg');
}
.Transparent::after {
  background-image: url('../images/symbols/Transparent 2.svg');
}
.Uplift::after {
  background-image: url('../images/symbols/Uplift.svg');
}
.Value::after {
  background-image: url('../images/symbols/Value.svg');
}
.Visibility::after {
  background-image: url('../images/symbols/Visibility.svg');
}
.FDL::after {
  background-image: url('../images/logos/small_logo.svg');
}

/* TYPOGRAPHY */

h1 {
  @apply text-lg sm:text-2xl md:text-3xl lg:text-4xl xl:text-6xl 2xl:text-8xl font-bold text-hanson text-center;
}
h2 {
  @apply text-base sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl font-medium text-grotesk text-center;
}

p {
  @apply text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl 2xl:text-2xl font-normal text-grotesk text-justify;
}

/* SECTIONS */

footer {
  @apply bg-black text-white flex flex-col space-y-2;
}

.Footer-nav-group {
  @apply flex flex-col;
}

/* ELEMENTS */

.Marquee {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  z-index: auto;
  background-color: transparent;
}
.Marquee-display {
  flex-grow: 1;
  flex-shrink: 0;
}
.Marquee-svg {
  width: 100%;
  font-size: inherit;
  height: 33px;
}

.Header-main {
  @apply flex flex-col items-center justify-center;
}
.Header-logo {
  @apply w-40;
}
.Header-nav {
  @apply flex flex-wrap justify-center;
}
.Header-nav-item {
  @apply md:flex md:flex-grow md:justify-center md:space-x-8 text-gray-700 text-base mr-3 origin-top transition-all duration-300 ease-in-out;
}
.Header-nav-item:hover {
  @apply text-gray-500;
}

.Footer-main {
  @apply flex;
}
.Footer-nav {
  @apply flex flex-wrap justify-center;
}
.Footer-nav-group {
  @apply p-4 w-40;
}
.Footer-nav-heading {
  @apply pb-2 text-base text-roboto uppercase font-extrabold;
}
.Footer-nav-item {
  @apply pb-2 text-sm text-roboto uppercase hover:text-gray-500 transition-all duration-300 ease-in-out;
}
.Footer-copy {
  @apply pt-8 text-xxs lg:text-sm font-normal text-grotesk text-center;
}

.button {
  font-size: max(0.75rem, 88.4%);
  @apply flex items-center justify-center min-w-max h-12 px-4 py-2 border-2 border-black text-mono uppercase focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black transition-all duration-200 ease-in-out;
}
.button-fblue:hover {
  @apply bg-fdlblue text-white;
}
.button-flime:hover {
  @apply bg-fdllime text-black;
}
.button-fred:hover {
  @apply bg-fdlred text-white;
}
.button-fpink:hover {
  @apply bg-fdlpink text-white;
}

.card {
  @apply flex w-full h-full flex-col justify-center items-start px-4 lg:px-8 py-8 lg:py-10 bg-white;
}
.card-title {
  @apply w-full text-2xl font-bold text-mono px-4 mb-8 text-left;
}
.card-text {
  @apply max-w-sm text-base font-normal text-inter px-4 mb-8 text-start;
}
