@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
  display: none !important;
}

/* TYPEFACES */
@font-face {
  font-family: 'Hanson';
  src: url(../fonts/hanson-bold.woff2);
}

.text-grotesk {
  font-family: 'Space Grotesk', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-mono {
  font-family: 'Space Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-hanson {
  font-family: 'Hanson', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-inter {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-roboto {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* GLOBAL */
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply text-inter;
}

/* SPACING */
section {
  @apply py-8 px-4 md:py-10 md:px-8 lg:py-12 lg:px-16 m-0 max-w-6xl mx-auto;
}

figure {
  @apply p-4 m-0 md:p-8 lg:p-12 max-w-7xl mx-auto;
}

h1 {
  @apply my-4 lg:my-6 xl:my-8;
}
h2 {
  @apply my-4 lg:my-6 xl:my-8;
}
h3 {
  @apply my-4 lg:my-6 xl:my-8;
}
h4 {
  @apply my-2 lg:my-3 xl:my-4;
}
p {
  @apply mb-2 md:mb-3 lg:mb-4;
}

/* TYPOGRAPHY */

h1 {
  @apply text-2xl md:text-4xl lg:text-6xl font-bold text-hanson;
}
h2 {
  @apply text-lg sm:text-xl md:text-2xl lg:text-3xl font-medium text-grotesk;
}

h3 {
  @apply text-base sm:text-lg md:text-xl lg:text-2xl font-medium text-grotesk;
}
h4 {
  @apply text-sm sm:text-base md:text-lg lg:text-xl font-medium text-grotesk;
}
p {
  @apply text-xs sm:text-sm lg:text-base font-normal text-grotesk;
}

/* SECTIONS */

footer {
  @apply bg-black text-white flex flex-col space-y-2;
}

.Footer-nav-group {
  @apply flex flex-col;
}

/* ELEMENTS */

.Marquee {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  z-index: auto;
  background-color: transparent;
}
.Marquee-display {
  flex-grow: 1;
  flex-shrink: 0;
}
.Marquee-svg {
  width: 100%;
  font-size: inherit;
  height: 33px;
}

.marquee {
  width: 100%;
  overflow: hidden;
  @apply px-4 py-12;
}

.marquee span {
  display: inline-block;
  animation: marquee 60s linear infinite;
  white-space: nowrap;
  @apply text-hanson text-6xl text-black;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.Header-main {
  @apply flex flex-col items-center justify-center;
}
.Header-logo {
  @apply w-40;
}
.Header-nav {
  @apply flex flex-wrap justify-center;
}
.Header-nav-item {
  @apply md:flex md:flex-grow md:justify-center md:space-x-8 text-gray-700 text-base mr-3 origin-top transition-all duration-300 ease-in-out;
}
.Header-nav-item:hover {
  @apply text-gray-500;
}

.Footer-main {
  @apply flex;
}
.Footer-nav {
  @apply md:p-4 xl:p-8 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5;
}
.Footer-nav-group {
  @apply p-4 w-44;
}
.Footer-nav-heading {
  @apply pb-2 text-sm md:text-base text-roboto uppercase font-extrabold;
}
.Footer-nav-item {
  @apply pb-2 text-xs md:text-sm text-roboto uppercase hover:text-gray-500 transition-all duration-300 ease-in-out;
}
.Footer-copy {
  @apply pt-8 text-xxs lg:text-sm font-normal text-grotesk text-center;
}

.button {
  @apply flex items-center justify-center max-w-fit h-12 px-4 py-2 border-2 hover:bg-black hover:text-white border-black text-mono uppercase focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black transition-all duration-200 ease-in-out;
}
.button-fblue:hover {
  @apply bg-fdlblue text-white;
}
.button-flime:hover {
  @apply bg-fdllime text-black;
}
.button-fred:hover {
  @apply bg-fdlred text-white;
}
.button-fpink:hover {
  @apply bg-fdlpink text-white;
}

.card {
  @apply flex flex-col h-full justify-center items-start bg-white p-8;
}
.card-title {
  @apply w-full text-2xl font-bold text-mono px-8 mb-8 text-left;
}
.card-text {
  @apply w-full text-sm lg:text-base 2xl:text-lg lg:w-1/2 font-normal text-inter px-8 mb-8 text-start;
}

.faq a {
  @apply text-black font-bold hover:text-fdlblue;
}
.faq ul {
  @apply list-disc list-inside pl-2 marker:text-gray-600 text-xs sm:text-sm lg:text-base font-normal text-grotesk;
}
.faq ol {
  @apply list-decimal list-inside pl-2 marker:text-gray-600 text-xs sm:text-sm lg:text-base font-normal text-grotesk;
}

.job ul {
  @apply list-disc list-inside pl-2 marker:text-gray-600 text-xs sm:text-sm lg:text-base font-normal text-grotesk;
}
.job ul > li {
  @apply mb-2;
}
.job ol {
  @apply list-decimal list-inside pl-2 marker:text-gray-600 text-xs sm:text-sm lg:text-base font-normal text-grotesk;
}
.job ol > li {
  @apply mb-2;
}
.job p {
  @apply text-xs sm:text-sm lg:text-base font-normal text-grotesk;
}
.job a {
  @apply text-fdlblue font-bold underline underline-offset-4 decoration-slate-400 hover:decoration-gray-600;
}
.job blockquote {
  @apply text-gray-800 text-xs sm:text-sm lg:text-base font-normal text-grotesk mt-8;
}

.privacy ul {
  @apply list-disc list-inside pl-2 marker:text-gray-600 text-xs sm:text-sm lg:text-base font-normal text-grotesk;
}
.privacy ul > li {
  @apply mb-2 text-inter;
}
.privacy ol {
  @apply list-decimal list-inside pl-2 marker:text-gray-600 text-xs sm:text-sm lg:text-base font-normal text-grotesk;
}
.privacy ol > li {
  @apply mb-2 text-inter;
}
.privacy p {
  @apply text-inter text-xs sm:text-sm lg:text-base font-normal text-grotesk;
}
.privacy a {
  @apply text-fdlpink font-bold underline underline-offset-4 decoration-slate-400 hover:decoration-gray-600;
}

.partners ul {
  @apply list-none list-inside pl-2 text-white text-sm lg:text-base xl:text-lg font-bold text-grotesk;
}
.partners ul > li {
  @apply mb-2;
}

.press-card {
  @apply flex flex-col-reverse md:flex-row w-full border border-gray-400 hover:border-black hover:bg-gray-100 transition-all duration-500 ease-in-out cursor-pointer;
}

.press-card-title {
  @apply w-full text-base md:text-xl font-bold text-mono mb-2 text-left truncate;
}

.press-card-description {
  @apply w-full block grow text-sm font-normal text-inter mb-4 line-clamp-3;
}

.press-card-image {
  @apply w-full max-h-48 aspect-video md:h-full object-cover;
}

.press-card-link {
  @apply text-gray-400 text-xs font-bold truncate;
}

.press-card-date {
  @apply text-black absolute bottom-0 left-0 text-xxs text-grotesk px-4 mb-1;
}

.award-card {
  @apply flex flex-col w-full border hover:border-black hover:bg-gray-100 transition-all duration-500 ease-in-out cursor-pointer py-4 px-8 justify-center items-center max-w-fit;
}

.award-card-image {
  @apply w-60 h-60 object-contain;
}
.award-card-title {
  @apply w-full text-sm text-mono m-0 text-center;
}

/* SYMBOLS */

.symbol-xl,
.symbol-xl::after {
  display: inline-flex;
  content: '';
  background-position: center;
  background-repeat: no-repeat;
  @apply w-6 h-6 md:w-7 md:h-7 xl:w-12 xl:h-12 bg-contain;
}

.symbol-big,
.symbol-big::after {
  display: inline-flex;
  content: '';
  background-position: center;
  background-repeat: no-repeat;
  @apply w-40 h-40 bg-contain;
}

.symbol-huge,
.symbol-huge::after {
  display: inline-flex;
  content: '';
  background-position: center;
  background-repeat: no-repeat;
  @apply w-80 h-80 bg-contain;
}

.symbol-biggest,
.symbol-biggest::after {
  display: inline-flex;
  content: '';
  background-position: center;
  background-repeat: no-repeat;
  @apply w-full h-full bg-contain;
}

.symred,
.symred::after {
  @apply bg-fdlred;
}
.symblue,
.symblue::after {
  @apply bg-fdlblue;
}
.symlime {
  @apply bg-fdllime;
}
.symlime::after {
  @apply brightness-0;
}
.sympink,
.sympink::after {
  @apply bg-fdlpink;
}

.Warmth::after {
  background-image: url('../images/symbols/Warmth.svg');
}
.Blooming::after {
  background-image: url('../images/symbols/Blooming.svg');
}
.Calm::after {
  background-image: url('../images/symbols/Calm.svg');
}
.Cents::after {
  background-image: url('../images/symbols/Cents.svg');
}
.Connected::after {
  background-image: url('../images/symbols/Connected.svg');
}
.Connective::after {
  background-image: url('../images/symbols/Connective.svg');
}
.Continuous::after {
  background-image: url('../images/symbols/Continuous Growth.svg');
}
.Direction::after {
  background-image: url('../images/symbols/Direction.svg');
}
.Emerging::after {
  background-image: url('../images/symbols/Emerging.svg');
}
.Energized::after {
  background-image: url('../images/symbols/Energized.svg');
}
.Enhanced::after {
  background-image: url('../images/symbols/Enhanced.svg');
}
.Expanding::after {
  background-image: url('../images/symbols/Expanding 2.svg');
}
.For::after {
  background-image: url('../images/symbols/For People.svg');
}
.Forward_2::after {
  background-image: url('../images/symbols/Forward 2.svg');
}
.Forward::after {
  background-image: url('../images/symbols/Forward.svg');
}
.Goals::after {
  background-image: url('../images/symbols/Goals.svg');
}
.Haven::after {
  background-image: url('../images/symbols/Haven 2.svg');
}
.Haven::after {
  background-image: url('../images/symbols/Haven.svg');
}
.Inclusive::after {
  background-image: url('../images/symbols/Inclusive.svg');
}
.Intersectional::after {
  background-image: url('../images/symbols/Intersectional.svg');
}
.Invest-II::after {
  background-image: url('../images/symbols/Invest 2.svg');
}
.Invest::after {
  background-image: url('../images/symbols/Invest.svg');
}
.Moving::after {
  background-image: url('../images/symbols/Moving Together.svg');
}
.Multiplication::after {
  background-image: url('../images/symbols/Multiplication.svg');
}
.Navigating::after {
  background-image: url('../images/symbols/Navigating.svg');
}
.No::after {
  background-image: url('../images/symbols/No Boundaries.svg');
}
.Open::after {
  background-image: url('../images/symbols/Open.svg');
}
.Powerful::after {
  background-image: url('../images/symbols/Powerful.svg');
}
.Reference::after {
  background-image: url('../images/symbols/Reference.svg');
}
.Security::after {
  background-image: url('../images/symbols/Security.svg');
}
.Stability::after {
  background-image: url('../images/symbols/Stability.svg');
}
.symbolsols::after {
  background-image: url('../images/symbols/symbolsols.svg');
}
.symbolsols::after {
  background-image: url('../images/symbols/symbolsols-1.svg');
}
.Team::after {
  background-image: url('../images/symbols/Team.svg');
}
.Transparent::after {
  background-image: url('../images/symbols/Transparent 2.svg');
}
.Uplift::after {
  background-image: url('../images/symbols/Uplift.svg');
}
.Value::after {
  background-image: url('../images/symbols/Value.svg');
}
.Visibility::after {
  background-image: url('../images/symbols/Visibility.svg');
}
.FDL::after {
  background-image: url('../images/logos/small_logo.svg');
}
