<!DOCTYPE html>
<html lang="en" class="scroll-smooth selection:bg-lime">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="WE'RE BUILDING A NEW INCLUSIVE AND INTERSECTIONAL STANDARD FOR ENTREPRENEURS">
    <link rel="icon" href="{{ site.baseurl }}/assets/images/logos/favicon.ico" />
    <link rel="apple-touch-icon" sizes="192x192" href="{{ site.baseurl }}/assets/images/logos/logo192.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Founderland</title>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Space+Grotesk&family=Roboto&family=Space+Mono&family=Inter:wght@200&display=swap"
        rel="stylesheet">
    <!-- Styles -->
    <link href="{{ site.baseurl }}/assets/styles/main.css" rel="stylesheet">
    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Alpine Plugins -->
    <script defer src="https://unpkg.com/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://unpkg.com/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
    <!--Alpine Js framework-->
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="manifest" href="manifest.json" />
    <!-- Marquee Scripts -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.marquee/1.4.0/jquery.marquee.min.js"></script>
</head>

<body class="min-h-screen flex flex-col" :class="openMenu ? 'overflow-hidden' : 'overflow-visible' "
    x-data="{ openMenu : false }">
    {% include navbar.html %}
    <div class="flex-grow">
        <section>
            <h1 class="text-center">CAREERS</h1>
            <h3 class="text-center">JOIN OUR TEAM TO LEVEL THE PLAYING FIELD FOR ALL ENTREPRENEURS.</h3>
            {{ content }}
        </section>
    </div>
    {% include footer.html %}
    <script src="{{ site.baseurl }}/assets/scripts/script.js"></script>
</body>

</html>