@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* TYPEFACES */
@font-face {
  font-family: Hanson;
  src: url(../fonts/hanson-bold.woff2);
  font-weight: bold;
}

.text-hanson {
  font-family: Hanson, sans-serif;
}
